[class*='col-'] {overflow: hidden;}

.box:first-child ~ .box {border-top: 6px solid black;box-sizing:border-box;}

h1{font-size: 200%;font-family: hind;margin: 0;}

h4 {font-size: 120%;font-family: hind; }

a{text-decoration: none;color: black;}

p{font-family: OpenSans;}

header{font-size: 400%;}

ul{padding-left: 0;margin-top: 7px;}

li{
	font-family: OpenSans;
	font-size: 100%;
	list-style-type: none;
	width: 100% !important;
}

.box{height: 45vh;}

.intro{width: 60%;}

.contactList-position{
    padding-right: 2vw;
    float: right;
}

.contactList li{
	padding-right: 1vw;
    display: inline !important;
	list-style-type: none;
}

.contactList img{height: 50%;}

.line{
	border-top: 5px solid #f7286c;
	width: 30%;
	margin-top: 3vh;
}

.footer-line{
	margin-top: 5vh;
	border-top: 1px solid lightgrey;
	width: 100%;
}

.list li:hover{background-color: #f7286c;}

@media all and (max-width:1023px){

	header{font-size: 350%;}

	}

footer{
	text-align: center;
	height: 15vh;
}

@font-face {
    font-family: hind;
    src: url(../asserts/Hind-Regular.ttf);
}

@font-face{
	font-family: OpenSans;
	src: url(../asserts/OpenSans-Regular.ttf);
}
